/* Responsive styles */
@media only screen and (max-width: 576px) {

    body,
    html {
        overflow-x: hidden;
        width: 100%;
    }

    .notFound-container img {
        width: 150%;
    }

    .notFound-container a {
        width: 70% !important;
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {}