.inventories-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.inventories-container {
    margin-bottom: 100px;
}

.manage-inventories-button a {
    border: none;
    border-radius: 10px;
    padding: 13px;
    background-color: #144e5f;
}

.manage-inventories-button a:hover {
    background-color: #06566e;
    color: white;
}

/* Responsive styles */
@media only screen and (max-width: 576px) {

    body,
    html {
        overflow-x: hidden;
        width: 100%;
    }

    .manage-inventories-button {
        justify-content: center !important;
    }

    .manage-inventories-button button {
        margin-left: 3px;

    }

    .inventories-collection {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .inventories-collection {
        grid-template-columns: repeat(2, 1fr);
    }
}